$barHeight: 50px;
$marginTop: 252px - $barHeight;



.errScreen {
    height: 100%;
    //font-family: 'Montserrat', sans-serif;
    

    .errScreen__bar_top {
        height: $barHeight;
        width: 100%;
        background-color: #292525;
    }
    .errScreen__bar_bottom {
        height: $barHeight;
        width: 100%;
        background-color: #292525;
        position: absolute;
        bottom: 0;
    }

    h2 {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 48px;
        color: #ed8686;
        text-align: center;
    }

    h3 {
        display: block;
        width: 660px;
        //text-align: center;
        font-family: Montserrat;
        font-style: italic;
        font-weight: 600;
        font-size: 30px;
        line-height: 37px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 100px;
        //margin: 0 auto;
        margin-top: $marginTop;
    }
    .redirect {
        position: absolute;
        z-index: 100;
        right: 35px;
        bottom: 125px;
        a {
            //font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            line-height: 28px;
            color: #4374d2;

        }
        a:visited{
            color: #4374d2;
        }
    }

    .vector {
        position: absolute;
        width: 288.5px;
        height: 254.5px;
        pointer-events: none;
        background: linear-gradient(
            to top left,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 0) calc(50% - 0.8px),
            #fd1111 50%,
            rgba(0, 0, 0, 0) calc(50% + 0.8px),
            rgba(0, 0, 0, 0) 100%
        );
        top: 0;
    }
    .vector2 {
        position: absolute;
        width: 288.5px;
        height: 254.5px;
        left: 129px;
        top: 0;
        background: linear-gradient(
            to top left,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 0) calc(50% - 0.8px),
            #fd1111 50%,
            rgba(0, 0, 0, 0) calc(50% + 0.8px),
            rgba(0, 0, 0, 0) 100%
        );
    }

    .vector3 {
        position: absolute;
        width: 288.5px;
        height: 254.5px;
        left: 260px;
        top: 0;
        background: linear-gradient(
            to top left,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 0) calc(50% - 0.8px),
            #fd1111 50%,
            rgba(0, 0, 0, 0) calc(50% + 0.8px),
            rgba(0, 0, 0, 0) 100%
        );
    }

    .vector4 {
        position: absolute;
        width: 288.5px;
        height: 254.5px;
        left: 60.5px;
        bottom: 0;
        background: linear-gradient(
            to top left,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 0) calc(50% - 0.8px),
            #fd1111 50%,
            rgba(0, 0, 0, 0) calc(50% + 0.8px),
            rgba(0, 0, 0, 0) 100%
        );
        z-index: 10;
    }

    .vector5 {
        position: absolute;
        width: 288.5px;
        height: 254.5px;
        left: 205px;
        bottom: 0;
        background: linear-gradient(
            to top left,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 0) calc(50% - 0.8px),
            #fd1111 50%,
            rgba(0, 0, 0, 0) calc(50% + 0.8px),
            rgba(0, 0, 0, 0) 100%
        );
        z-index: 10;
    }

    .vector6 {
        position: absolute;
        width: 288.5px;
        height: 254.5px;
        left: 349px;
        bottom: 0;
        background: linear-gradient(
            to top left,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 0) calc(50% - 0.8px),
            #fd1111 50%,
            rgba(0, 0, 0, 0) calc(50% + 0.8px),
            rgba(0, 0, 0, 0) 100%
        );
        z-index: 10;
    }

    .vector7 {
        position: absolute;
        width: 288.5px;
        height: 254.5px;
        left: 493px;
        bottom: 0;
        background: linear-gradient(
            to top left,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 0) calc(50% - 0.8px),
            #fd1111 50%,
            rgba(0, 0, 0, 0) calc(50% + 0.8px),
            rgba(0, 0, 0, 0) 100%
        );
        z-index: 10;
    }



}
